.join-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  transition: background-color 0.3s ease;
  width: 154px;
  height: 48px;
}

.join-btn {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: #343045;
  transition: background 0.3s ease;
}

.join-btn:hover {
  background: linear-gradient(90deg, #5b4784 0%, #8f80b3 100%);
  color: white;
  cursor: pointer;
}
